<!DOCTYPE html>
<html>
  <head>
      <meta charset="UTF-8">
  </head>
  <body style="background-color:powderblue;">
      <h1>!!!! Xsolla New Year Random Gift Machine !!!!</h1>
       <!-- img src="https://media.giphy.com/media/y0NFayaBeiWEU/giphy.gif" -->
       <!-- img src="https://i.ibb.co/cXTdJMM/2020-12-24-14-57-37.png" -->
       <img src="https://i.ibb.co/k30s1Ff/2020-12-24-14-59-34.png">
       <br>



      <p style="color:red;"><b>
        {{ bad_context }}
      </b></p>

       <br>
      <p>
        {{ winners | safe }}
      </p>

      <p>
        {{ prev_winners | safe }}
      </p>
       <br>


      <form action="/" method="post">
        <h2>Выберете количество людей для награды</h2>
        <input type="number" id="cnt_employees" name="cnt_employees" required size="20">
        <br>
        <br>
        <input type="submit" value="Запустить шарманку">
      </form>


  </body>
</html>
