<!DOCTYPE html>
<html>
  <head>
      <meta charset="UTF-8">
  </head>
  <body>
      <h1>!!!! Xsolla New Year Random Gift Machine !!!!</h1>
       <!-- img src="https://media.giphy.com/media/y0NFayaBeiWEU/giphy.gif" -->
       <img src="https://i.ibb.co/WnmdQc4/IMG-7454.jpg">
       <br>
      <p>
        {{ prev_employees }}
      </p>




      <form action="/" method="post">
        <h2>Выберете количество людей для награды</h2>
        <input type="number" id="cnt_employees" name="cnt_employees" required size="20">
        <br>
        <br>
        <input type="submit" value="Запустить шарманку">
      </form>


  </body>
</html>
